.row{
    width:600px;
    height: 160px;
    border: 1 px solid tomato;
    background-color: cyan;
    position: relative;
    left:30%;
 /* gap btw two rows */
     margin-top: 5px;
}
.col{
    width: 100px;
    height: 150px;
    border: 1px solid white;
}
.col-1{
    background-color: tomato;
    position: absolute;
}
.col-2{
    background-color: violet;
    position: absolute;
   
   left: 120px; 
}
.col-3{
    background-color:blue;
   position: absolute;
  
   left: 230px;
}
.col-4{
    background-color:yellow;
   position: absolute;
   
   left: 340px;
}
.col-5{
    background-color:green;
   position: absolute;
  
   left: 450px;
}
.coll{
    background-color: green;
    position: absolute;
    top: 400px;
    left: 80%;
}

